.row {
  
  @mixin clearfix;

  &--gutters {
    margin-right: -65px;
  }

  &--gutters-lrg {
    margin-right: -100px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-lrg > div {
    padding-right: 100px;
  }

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-4 {
      float: left;
      width: 33.333%;
    }

    &__medium-4--larger {
      float: left;
      width: 37%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-8 {
      float: right;
      width: 66.666%;
    }

    &__medium-8--smaller {
      float: right;
      width: 63%;
    }
  }   
}